@charset "UTF-8";

.bg-pink{background-color: pink;}
.bg-blue{background-color: blue;}
.bg-red{background-color: red;}
.bg-yellow{background-color: yellow;}
.bg-gray{background-color: gray;}

.fl{float: left;}
.fr{float: right}
body{background-color: #f5f5f5;}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-box{
    background-color: #4eaa4c;
    height: 30px;
}

.logo-nav > a{
    color: #ffffff;
    line-height: 30px;
    padding-left: 5px;
}

.login-box{
    padding-right: 5px;
}

.login-box a{
    color: #ffffff;
    line-height: 30px;
}

.user-info-box > ul > li{
    float: left;
    line-height: 30px;
    color: #ffffff;
    padding-right: 15px;
}

.user-info-box > ul > li > a {
    color: #ffffff;
}

.user-info-box > ul > li.drop-menu{
    position: relative;
}

.user-info-box > ul > li.drop-menu > ul{
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100px;
    display: none;
}

.user-info-box > ul > li.drop-menu > ul > li > a{
    color: #000000;
    display: block;
    padding-left: 5px;
    line-height: 35px;
}

.user-info-box > ul > li.drop-menu > ul > li > a:hover{
    color: #4eaa4c;
}

.user-info-box > ul > li.drop-menu:hover > ul{
    display: block;
}

.footer{
    height: 50px;
}

.footer span{
    line-height: 50px;
    background-color: #cccccc;
    display: block;
    text-align: center;
}